{% extends 'blog/payment/base.html' %}
{% load static %}

{% block title %}Password-Reset-Complete{% endblock %}

{% block content %}
<div class="my-5 p-5">
    <div class="container col-sm-9 offset-sm-1 text-center">

        <h3 class="text-center alert alert-primary"><b>Congratulations!!! Password Reset Successfully. <a
                    href="{% url 'login' %}">Login Here</a></b></h3>
        <div style="color: blue;font-size: 200px;">
            <i class="bi bi-check-circle-fill mx-auto"></i>
        </div>

    </div>
</div>

{% endblock %}