{% extends "blog/base.html" %}

{% block content %}
<br>
<br>
<br>
<br>
<br>
<div class="container">
    <p><strong>What is FE Exam?</strong></p>

    <p>The Fundamentals of Engineering (FE) exam is an exam to be taken after completing four-year engineering degree.</p>

    <p>Please see <a href="https://vimeo.com/586143545"><em><strong>this video</strong></em></a>&nbsp;to know more about FE Exam.</p>

    <p><strong>Where can I find more information regarding FE Exam?</strong></p>

    <p>The National Council of Examiners for Engineering and Surveying <a href="http://www.NCEES.org">(NCEES) website</a> or at wikipedia page of NCEES.</p>

    <p><strong>I am not in US. Why should I care about FE Exam?</strong></p>

    <p>The FE Exam is conducted in US, Canada, Egypt, UAE, Japan, Korea, Qatar, Saudi Arabia, Taiwan and Turkey.</p>

    <p><strong>I am not in the country listed above. Why should I care about FE Exam?</strong></p>

    <p>In India, the GATE exam syllabus is very similar to FE Exam. In Singapore, Fundamentals of Engineering Examination (FEE) can be studied with this site contents.</p>

    <p><strong>I am still not in any of the mentioned countries. Why should I visit this site?</strong></p>

    <p>It is also useful for anyone who wants to refresh concepts of Engineering involving Mathematical, Mechanical, Electrical, Chemical and Civil Engineering topics.</p>

    <p><strong>What will happen if I pass FE Exam?</strong></p>

    <p>You qualify for the next level - PE (Professional Engineer) exam. Many working professionals are required to have PE Exam cleared as a state requirement as well as an indicator of engineering proficiency. As a general thumb rule, many small consultancies in US have at least one Professional Engineer, who can approve design plans. You may not be able to take PE exam unless you first clear FE Exam.</p>

    <p><strong>What will happen if I fail FE Exam?</strong></p>

    <p>You may take it again after paying exam registration fees of $175.</p>

    <p><strong>Why should I study from FE Success website?</strong></p>

    <p>The contents of FEsuccess.com website are created with end-user in mind. The error-free contents are created and verified by experts who have several years of teaching experience and practical hands-on experience from industries. The site is mobile-friendly, easy to navigate and advertisement-free. Our mission is to make it easy for working professionals and students to excel in competitive exams by refreshing their knowledge and by providing them guided learning opportunities.</p>

    <p><strong>I am a visual learner. How many videos and Solved Examples does FE Success website currently have?</strong></p>

    <p>Please visit the Subscribe page and at the bottom, current status is displyed for each discipline. New solved examples and video explanations are added every day.</p>

    <p><strong>How can I register for this website?</strong></p>

    <p><strong>Premium registration</strong>&nbsp;is available if you email us at fesuccess at outlook dot com</p>

    <p>Alternatively, you can post a request in 'FE Exam Study Resources' group on facebook. The group is administered round-the-clock for immediate response.</p>

    <p>You can follow us on Twitter @FEsuccess.</p>

    <p>On Instagram follow us at fe_success.</p>
</div>
{% endblock %}