<footer id="footer" class="footer position-relative">

    <div class="footer-top">
        <div class="container">
            <div class="row gy-4 justify-content-between">
                <div class="col-lg-5 col-md-12 footer-info mr-2">
                    <a href="index.html" class="logo d-flex align-items-center">
                        <img src="/static/img/logo.png" alt="">
                        <span>FE Success</span>
                    </a>
                    <figure>
                        <blockquote class="blockquote">
                            <p>"....A long, long time ago, in October 2000, when I started studying for the FE Exam, I
                                quickly
                                realized that there is not enough guiding resources, despite this exam being so
                                important. Then a
                                journey began to explore all the technological means to utilize for presenting the best
                                of experts'
                                knowledge. And the journey still continues...."</p>
                        </blockquote>
                        <figcaption class="blockquote-footer">
                            Prof. Prashant More, <cite title="Source Title">Founder and CEO, FEsuccess.com</cite>
                        </figcaption>
                    </figure>
                    <div class="social-links mt-3">
                        <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
                        <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
                        <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
                        <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
                    </div>
                </div>

                <div class="col-lg-3 col-6 footer-links ml-3">
                    <h4>Useful Links</h4>
                    <ul>
                        <li><i class="bi bi-chevron-right"></i> <a href="{% url 'blog-home' %}">Home</a></li>
                        <li><i class="bi bi-chevron-right"></i> <a href="#team">About us</a></li>
                    </ul>
                </div>

                <!-- <div class="col-lg-2 col-6 footer-links">
            <h4>Our Services</h4>
            <ul>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Design</a></li>
              <li><i class="bi bi-chevron-right"></i> <a href="#">Web Development</a></li>
            </ul>
          </div> -->

                <div class="col-lg-3 col-md-12 footer-contact text-center text-md-start">
                    <h4>Contact Us</h4>
                    <p>
                        <strong>Email:</strong> fesuccess@outlook.com<br>
                    </p>

                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="copyright">
            &copy; Copyright <strong><span>FE Success</span></strong>. All Rights Reserved
        </div>
        <div class="credits">
            <!-- All the links in the footer should remain intact. -->
            <!-- You can delete the links only if you purchased the pro version. -->
            <!-- Licensing information: https://bootstrapmade.com/license/ -->
            <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/flexstart-bootstrap-startup-template/ -->
            <!-- Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a> -->
        </div>
    </div>
</footer>