{% extends 'users/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
<div class="mt-4">
    <section class="vh-100 align-items-center d-flex">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <img src="https://mdbootstrap.com/img/Photos/new-templates/bootstrap-login-form/draw2.png"
                        class="img-fluid" alt="Sample image">
                </div>
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">
                        {% csrf_token %}
                        {% for fm in form %}
                        <div class="form-outline mb-4">
                            {{fm.label_tag}}
                            <div class="form-control-lg">

                                {{fm}}
                            </div>
                            <small class="text-danger">
                                {{fm.errors|striptags}}
                            </small>
                            <br>
                        </div>
                        {% endfor %}

                        <div class="d-flex justify-content-between align-items-center">

                            <a href="#!" class="text-body">Forgot password?</a>
                        </div>

                        <div class="text-center text-lg-start mt-4 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                            <p class="small fw-bold mt-2 pt-1 mb-0">Don't have an account? <a
                                    href="{% url 'register' %}" class="link-danger">Register</a></p>
                        </div>
                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger my-3">{{error}}</p>
                        {% endfor %}
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

    </section>
</div>
<script>
    document.querySelectorAll('input, textarea').forEach(e => {
        e.classList.add('form-control-lg');
    })
</script>
{% endblock %}