<header id="header" class="header fixed-top">
    <div class="container-fluid container-xl d-flex align-items-center justify-content-between">

        <a href="/" class="logo d-flex align-items-center">
            <img src="/static/img/logo.png" alt="">
            <span>FE Success</span>
        </a>

        <nav id="navbar" class="navbar">
            <ul>
                <li><a class="nav-link scrollto active" href="/">Home</a></li>
                <!-- <li><a class="nav-link scrollto" href="#faq">FE Exam</a></li>
                <li><a class="nav-link scrollto" href="#team">About Us</a></li>
                <li><a class="nav-link scrollto" href="#pricing">Subscribe</a></li> -->
                <li><a class="nav-link scrollto" href="http://52.37.224.180/cart">My Cart</a></li>
                <li><a class="nav-link scrollto" href="http://52.37.224.180/user/login?current=/node">Members' Area</a>
                </li>
                <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
                <li><a class="nav-link scrollto" href="http://52.37.224.180/videos">Videos</a></li>
                <li><a class="getstarted scrollto" href="{% url 'blog-home' %}">Get Started</a></li>
            </ul>
            <i class="bi bi-list mobile-nav-toggle"></i>
        </nav>

    </div>
</header>