{% extends 'users/base.html' %}
{% load static %}

{% block title %}Profile{% endblock %}

{% block content %}
<div class="mt-4">

    <section class="vh-100 align-items-center d-flex">
        <div class="container-fluid h-custom">
            <div class="row d-flex justify-content-center align-items-center h-100">
                <div class="col-md-9 col-lg-6 col-xl-5">
                    <h1 class="text-center" style="color: rgb(21, 21, 53);font-family: cursive;">Update your Profile
                    </h1>
                    <img src={% static 'img/profile_nonbg.png' %} class="img-fluid" alt="Sample image">
                </div>
                {% if messages %}
                {% for message in messages %}
                {% if message.tags %}
                <script>
                    alert("{{ message }}");
                    window.location.replace("{% url 'blog-home' %}");
                </script>
                {% endif %}

                {% endfor %}

                {% endif %}
                <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                    <form method="post">
                        {% csrf_token %}
                        <div class="row">
                            {% for fm in form %}
                            <!-- Email input -->
                            <div class="col-sm-6 col-lg-12 col-xs-6">
                                <div class="form-outline mb-4">
                                    {{fm.label_tag}}
                                    <div class="form-control-lg">

                                        {{fm}}
                                    </div>
                                </div>
                                <small class="text-danger">
                                    {{fm.errors|striptags}}</small>
                            </div>
                            {% endfor %}
                        </div>


                        <div class="text-center text-lg-start mt-2 ms-3 pt-2">
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">Update Profile</button>
                        </div>

                        {% if form.non_field_errors %}
                        {% for error in form.non_field_errors %}
                        <p class="alert alert-danger">{{error}}</p>
                        {% endfor %}
                        {% endif %}

                    </form>
                </div>
            </div>
        </div>

    </section>
</div>
<script>
    document.querySelectorAll('input, textarea').forEach(e => {
        e.classList.add('form-control');
    })
</script>
{% endblock %}