{% extends 'blog/payment/base.html' %}
{% load static %}

{% block title %}Package Detail{% endblock %}

{% block style %}
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Kanit:wght@300&display=swap" rel="stylesheet">

<style>
    body {
        font-family: 'Kanit', sans-serif;
    }
</style>
{% endblock %}

{% block content %}
<div class="p-5 mt-5">
    <div class="container">

        <div class="card mt-4 p-3  shadow">
            <div class="card-title">
                <h1 class="text-center my-2 p-4" style="color: #022A70;font-weight: bold;">Package Details</h1>
            </div>
            <div class="card-body">
                <div class="container row">
                    <div class="col-md-7">
                        <img src="/static/img/hero-img.png" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-5 align-items-center">
                        <div class="p-2 mt-2 d-flex justify-content-between">

                            <h4>Package Name: </h4>
                            <h4>{{ object.name }}</h4>
                        </div>
                        <div class="p-2 mt-2 d-flex justify-content-between">

                            <h4>Price:</h4>
                            <h4>€ {{ object.price }}</h4>
                        </div>
                        <div class="p-2 mt-2 d-flex justify-content-between">

                            <h4>Validity:</h4>
                            <h4>{{object.validity_in_months}} months</h4>
                        </div>
                        <div class="p-2 mt-2 d-flex justify-content-between">

                            <h4>Discipline:</h4>
                            <h4>{{ member.discipline }}</h4>
                        </div>
                        <div class="p-2 mt-2 d-flex justify-content-between">

                            <h4>Name:</h4>
                            <h4>{{ member.first_name }} {{member.last_name}}</h4>
                        </div>
                        <div class="p-2 mt-2 d-flex justify-content-between">

                            <h4>Email:</h4>
                            <h4>{{ member.email }}</h4>
                        </div>

                        <div class="row">
                            <div class="mt-2 p-2 col-12" id="proceed">

                                <button class="ml-auto btn btn-primary text-center w-100" id="checkout-button"
                                    style="background-color: #5969F3;">Checkout</button>
                            </div>
                            <div class="mt-2 p-2 visually-hidden col-12" id="loading">
                                <button class="btn btn-primary w-100" type="button" disabled>
                                    <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
                                    Loading...
                                </button>
                            </div>


                            <div class="p-2 col-12" id="cancel">
                                <a href="{% url 'blog-home' %}" style="background-color: rgb(218, 218, 218);"
                                    class="btn btn-light w-100">Cancel</a>
                            </div>

                        </div>


                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    var stripe = Stripe('{{ stripe_publishable_key }}');
    var checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {
        var loadButton = document.getElementById('loading');
        var proceed = document.getElementById('proceed');
        loadButton.classList.remove('visually-hidden');
        proceed.classList.add('visually-hidden');

        var email = '{{member.email}}';
        if (email.length == 0) {
            alert("Please enter your email address.");
            return;
        }

        fetch("{% url 'api_checkout_session' id=object.id %}", {
            method: 'POST',
            body: JSON.stringify(
                { email: email }
            )
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>
{% endblock content %}


var email = document.getElementById('email').value;